{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col s6 offset-s3">
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <table>
          <div class="fieldWrapper">
              {{ form.name.errors }}
              <label for="{{ form.name.id_for_label }}">Name:</label>
              {{ form.name }}
          </div>
          <div class="fieldWrapper">
            <input hidden type="text" name="course" maxlength="120" required="" id="id_course" value="{{ course }}">
          </div>
        </table>
        <div class="row center-align" style="margin-top: 5%;">
          <input class="waves-effect waves-light btn" type="submit" value="Create" />
          <input type="hidden" name="next" value="{{ next }}" /> 
        </div>
      </form>
    </div>
  </div>
  <script>
    M.AutoInit();
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, options);
    });
  </script>

{% endblock %}
