{% extends 'base.html' %}

{% block content %}

<h5>
   Nombre: {{ course.name }}
</h5>
<h6>
   ID: {{ course.id }}
</h6>

<div style="position: relative; padding-bottom: 5%;">
   <div style="margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);">
      <button class="waves-effect waves-light btn white-text"> <i class="material-icons right">history</i>Points: 500</button>
   </div>
</div>

<div class="row">
    <div class="col s12 m6">
      <div class="card">
         <div class="card-image">
           <img class="responsive-img" src="https://source.unsplash.com/1-aA2Fadydc/640x480">
           <a href="/student/manage-company/{{ course.id }}" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">chevron_right</i></a>
         </div>
         <div class="card-content">
            Administrar empresa
         </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
         <div class="card-image">
           <img class="responsive-img" src="https://source.unsplash.com/1-aA2Fadydc/640x480">
           <a href="/student/manage-rewards/{{ course.id }}" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">chevron_right</i></a>
         </div>
         <div class="card-content">
            Premios
         </div>
      </div>
    </div>
 </div>


{% endblock %}
