{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col s4 m4">
      <div class="card">
         <div class="card-image">
           <img class="responsive-img" src="https://source.unsplash.com/-uHVRvDr7pg/640x480">
           <a href="/add-teacher" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
         </div>
         <div class="card-content">
           <p>Unirse a curso</p>
         </div>
      </div>
    </div>
    <div class="col s4 m4">
      <div class="card">
         <div class="card-image">
           <img class="responsive-img" src="https://source.unsplash.com/FHnnjk1Yj7Y/640x480">
           <a href="/add-course" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
         </div>
         <div class="card-content">
           <p>Ver cursos</p>
         </div>
      </div>
    </div>
 </div>

{% endblock %}
