{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col s4 m4">
      <div class="card">
         <div class="card-image">
           <img class="responsive-img" src="https://source.unsplash.com/TXxiFuQLBKQ/640x480">
           <a href="/add-teacher" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
         </div>
         <div class="card-content">
           <p>Añadir profesor</p>
         </div>
      </div>
    </div>
    <div class="col s4 m4">
      <div class="card">
         <div class="card-image">
           <img class="responsive-img" src="https://source.unsplash.com/YloghyfD7e8/640x480">
           <a href="/add-course" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
         </div>
         <div class="card-content">
           <p>Añadir curso</p>
         </div>
      </div>
    </div>
    <div class="col s4 m4">
      <div class="card">
         <div class="card-image">
           <img class="responsive-img" src="https://source.unsplash.com/E813FON0wDQ/640x480">
           <a href="/courses_teacher" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">add</i></a>
         </div>
         <div class="card-content">
           <p>Administrar cursos</p>
         </div>
      </div>
    </div>
 </div>

{% endblock %}
